<body>
    
    <div class="card">
        <div class="header">
            <h2>Masuk sebagai petugas</h2>
        </div>
        
        <div class="form-content">
            <form action="/petugas" method="POST">
                
                <div class="form-group">
                    <input type="text" name="nama_siswa" placeholder="Nama Siswa Yang Melanggar" required>
                </div>

                <div class="form-group">
                    <input type="text" name="kelas" placeholder="Kelas Siswa (Contoh: X-10)" required>
                </div>

                <div class="form-group">
                    <select name="jenis_pelanggaran" required>
                        <option value="" disabled selected>Pilih Jenis Pelanggaran</option>
                        <option value="Terlambat">Terlambat</option>
                        <option value="Atribut Tidak Lengkap">Atribut Tidak Lengkap</option>
                        <option value="Bolos">Bolos</option>
                        <option value="Rambut Tidak Rapi">Rambut Tidak Rapi</option>
                        <option value="Lainnya">Lainnya</option>
                    </select>
                </div>

                <button type="submit" class="btn-submit">Kirim Laporan</button>
                
            </form>

            <center>
                <a href="/" class="btn-back">← Kembali ke Menu Utama</a>
            </center>
        </div>
    </div>

</body>
