<!DOCTYPE html>
<html>
<head>
    <title>Riwyat Saya</title>
    <style>
        body { font-family: Arial; padding: 50px; background-color: #ebf5fb; }
        .card { background: white; padding: 20px; border-radius: 10px; border-left: 5px solid #3498db; max-width: 500px; margin: auto; }
    </style>   
</head>
<body>
    <div class="card">
        <h2>Riwayat Pelanggaran Kamu</h2>
        <p><strong>Nama:</strong> (Nama Siswa)</p>
        <hr>
        <p>1. Terlambat - 12 Mei 2026</p>
        <p>2. Tidak Pakai Sabuk - 14 Mei 2026</p>
        <p style="color: red;">total Poin: 10</p>
        <a href="/">kembali</a>
    </div>
        
</body>
</html>